
<div class="post" data-distance="{{distance}}" data-type="{{type}}" data-details="{{details}}">
    <div class="post-contents">
      
      <div class="post-info-container">

        <div class="post-title">
          {{title}}
          <hr class="dashed">
        </div>
        
        <div class="post-distance">
          {{distance}}
        </div>
        <div class="post-type">
          {{type}}
        </div>
        <div class="post-details">
          {{details}}
        </div>
      </div>
    </div>

      
</div>


{{!-- might need <sectio></sectio> --}}